.description {
   background-color: RGB(250, 190, 20);
   border: 5px solid rgb(0, 0, 0);
   /* Белая рамка */
}

.card {
   background: rgba(0, 0, 0, 0);
   border: 0;
}

footer {
   background-color: #14fa4c;
}

.wrapper {
   background-image: url('../backgroundroflan.png');
   background-repeat: no-repeat round;
}